## Import CSV table into DataFrame & Export to HTML table

In [1]:
## Dependencies
import pandas as pd

In [2]:
## Import table (CSV) & Store as DataFrame
table_df = pd.read_csv("Cities.csv", encoding="utf-8")
table_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Saskylakh,71.9167,114.0833,34.02,99,100,7.47,RU,1619754043
1,Lebu,-37.6167,-73.6500,55.09,94,100,8.59,CL,1619754043
2,Polis,35.0367,32.4264,66.20,27,0,5.75,CY,1619754043
3,Mahébourg,-20.4081,57.7000,77.00,83,75,14.97,MU,1619754044
4,Princeton,25.5384,-80.4089,78.80,83,1,3.44,US,1619754044

In [3]:
## Define columns order
columns = ['City', 'Country', 'Lat', 'Lng', 'Max Temp', 'Humidity', 'Cloudiness', 'Wind Speed', 'Date']

## Set columns order
table_df = table_df[columns]
table_df.head()

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Date
0,Saskylakh,RU,71.9167,114.0833,34.02,99,100,7.47,1619754043
1,Lebu,CL,-37.6167,-73.6500,55.09,94,100,8.59,1619754043
2,Polis,CY,35.0367,32.4264,66.20,27,0,5.75,1619754043
3,Mahébourg,MU,-20.4081,57.7000,77.00,83,75,14.97,1619754044
4,Princeton,US,25.5384,-80.4089,78.80,83,1,3.44,1619754044

In [4]:
## Export table (HTML) from DataFrame
table_df.to_html("Cities.html", justify="left", classes="table table-responsive table-bordered table-striped", border=0, encoding="utf-8")